.lengthInput {
  display: flex;
  margin-top: 16px;

  input {
    width: 60px;
  }
}

.slider {
  margin: 0 16px 0 8px;
}

.codeBlock {
  margin-bottom: 0 !important;

  pre {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
