.dialogBubble {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  padding: 0.8vw 0.8vw 0.8vw 1.2vw;
  border-radius: 5px;
  font-family: monospace;
  font-size: max(1vw, 12px);
  z-index: 1000;
  width: 18vw;
  min-width: 190px;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  user-select: none;
  -webkit-user-select: none;
}

.dialogArrow::after {
  content: "";
  display: block;
  position: relative;
  top: calc(1vw - 0.3vw);
  left: 30%;
  width: 0;
  height: 0;
  border-left: max(1vw, 10px) solid transparent;
  border-right: max(1vw, 10px) solid transparent;
  border-top: max(1vw, 10px) solid #333;
}

.dialogArrow {
  height: 0.1px;
}