.videoContainer {
  position: relative;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.playButton {
  position: absolute;
  display: block;
  left: calc(50% - 17px);
  top: calc(50% - 17px);
  z-index: 2;
  cursor: pointer;
  & > svg:hover {
    fill: var(--ifm-color-primary-dark);
  }
}


.controlBar {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  z-index: 2;
  display: flex;
  background: #1c1e21;
  opacity: 20%;
}
